.config/qutebrowser/*
.config/qutebrowser/**/__pycache__
!.config/qutebrowser/themes
!.config/qutebrowser/config.py

.config/doom/*.el
!.config/doom/init.el
!.config/doom/packages.el
!.config/doom/config.el
